<div class="grid">
  <div class="header">
<!--    <h1>Bridging the gap between people.</h1>-->
  </div>
  <div class="main">
    <div>
      <h1>Read our privacy policy here</h1>
      <p></p>
    </div>

    <button mat-raised-button routerLink="privacy-policy" class="small-btn">Learn More</button>
  </div>
  <div *ngIf="!authService.isUerLoggedIn()" class="user">
    <button mat-raised-button class="user-btn" (click)="openLoginDialog()">Login</button>
    <button mat-raised-button class="user-btn" (click)="openRegisterDialog()">Register</button>
  </div>
  <div class="footer">
    <img  src="/assets/Images/trees.png">
  </div>
</div>
