.loginComponent {
  width:60%;
  margin-left: auto;
  margin-right: auto;
  padding-top: 10px;
  padding-bottom: 10px;
}

mat-form-field {
  width: 100%;
}

.user-input {
  width: 60%;
}

.very-small-btn-size {
  width: 30%;
}

/* Hide mat-stepper headers */
:host ::ng-deep .mat-horizontal-stepper-header-container { display: none; }

@media (max-width: 800px) {
  .loginComponent {
    width:95%;
  }

  .loginComponent .app-header-style {
    font-size: 20px;
  }
}
