.selection-button-container {
  width: 90%;
  height: 80%;
  margin: auto;
  padding-top: 50px;
  display: grid;
  align-content: center;
  justify-content: space-evenly;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr;
  grid-gap: 30px;
}

.selection-button {
  width: 100%;
  height: 100%;
  font-size: 30px;
  background-color: #dbf1f9;
  color: #000;
}

@media (max-width: 1200px) {
  .selection-button-container {

    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    grid-gap: 30px;
  }
}
